################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GtiClone-Desktop/.vs
/GtiClone-Desktop/obj/Debug
